/* You can add global styles to this file, and also import other style files */

.ant-table-pagination.ant-pagination
    margin: 16px 16px

ng-template
    float: left

.ant-table-tbody > tr:last-child > td
    border-bottom: none

app-header
    background: white